In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in data
df = pd.read_csv("data.csv", encoding= 'unicode_escape')

In [3]:
df.head()

,Author,Min. estimated sales,Max. estimated sales,Original language,Genre or major works,Number of books,Nationality
0,William Shakespeare,2 billion[1],4 billion[2],English,Plays and poetry,42,English
1,Agatha Christie,2 billion[3],4 billion[2],English,Whodunits including the Miss Marple and Hercul...,85,English
2,Barbara Cartland,500 million[4],1 billion[5],English,Romance,723,English
3,Danielle Steel,500 million[6],800 million[7],English,Romance,179,American
4,Harold Robbins,750 million[8],750 million[9],English,Adventure,23,American

In [4]:
df.tail()

,Author,Min. estimated sales,Max. estimated sales,Original language,Genre or major works,Number of books,Nationality
63,John Creasey,NaN,100 million[163],English,Crime thriller,600,British
64,James A. Michener,NaN,100 million[164],English,Historical,47,American
65,Mary Higgins Clark,100 million[166],100 million[167],English,Thriller,NaN,American
66,Penny Jordan,90 million[168],100 million[169],English,Romance,200+,British
67,Patricia Cornwell,NaN,100 million[170],English,Thriller,34+,American

In [5]:
# rename header
def clean_header(header_string):
    return header_string.lower().replace(" ", "_").replace(".","")

df = df.rename(columns = clean_header)

df.head()

,author,min_estimated_sales,max_estimated_sales,original_language,genre_or_major_works,number_of_books,nationality
0,William Shakespeare,2 billion[1],4 billion[2],English,Plays and poetry,42,English
1,Agatha Christie,2 billion[3],4 billion[2],English,Whodunits including the Miss Marple and Hercul...,85,English
2,Barbara Cartland,500 million[4],1 billion[5],English,Romance,723,English
3,Danielle Steel,500 million[6],800 million[7],English,Romance,179,American
4,Harold Robbins,750 million[8],750 million[9],English,Adventure,23,American

In [6]:
# get rid of brackets

df["min_estimated_sales"] = df["min_estimated_sales"].str[:-3]
df["max_estimated_sales"] = df["max_estimated_sales"].str[:-3]

df.head()

,author,min_estimated_sales,max_estimated_sales,original_language,genre_or_major_works,number_of_books,nationality
0,William Shakespeare,2 billion,4 billion,English,Plays and poetry,42,English
1,Agatha Christie,2 billion,4 billion,English,Whodunits including the Miss Marple and Hercul...,85,English
2,Barbara Cartland,500 million,1 billion,English,Romance,723,English
3,Danielle Steel,500 million,800 million,English,Romance,179,American
4,Harold Robbins,750 million,750 million,English,Adventure,23,American

In [7]:
# standardize genres

df["genre_or_major_works"].unique()

df.groupby(df["genre_or_major_works"]).count()

df["genere_original"] = df["genre_or_major_works"]

df=df.fillna("blank")

df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'fantasy,\xa0fiction' if 'Harry Potter,\xa0Fantastic Beasts and Where to Find Them,\xa0Cormoran Strike,\xa0fantasy,\xa0crime fiction' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'whodunits,\xa0detective,\xa0crime fiction,\xa0fiction' if 'Whodunits\xa0including the\xa0Miss Marple\xa0and\xa0Hercule Poirot\xa0series' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'whodunits,\xa0detective,\xa0crime fiction,\xa0fiction' if 'Detective' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'romance,\xa0adventure,\xa0fiction' if 'Dime novels' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: "absurdist literature,\xa0children's literature,\xa0fiction" if "Alice's Adventures in Wonderland, absurdist literature" in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: "children's literature,\xa0fiction,\xa0illustrated children's books" if "Illustrated children's books" in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'detective,\xa0crime fiction,\xa0espionage' if 'Espionage,\xa0Jason Bourne' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'romance,\xa0fiction' if 'Fifty Shades of Grey' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'fiction' if 'The Baby-sitters Club' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: "children's literature,\xa0fiction,\xa0illustrated children's books" if 'Clifford the Big Red Dog' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'romance,\xa0fiction,\xa0gothic fiction,\xa0vampires' if 'Gothic fiction,\xa0vampires,\xa0Interview with the Vampire\xa0(The Vampire Chronicles)' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'romance,\xa0fiction,\xa0vampires' if 'The Twilight Saga,\xa0The Host, romance' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: "children's literature,\xa0fiction,\xa0illustrated children's books" if "Children's literature,\xa0Mr. Men" in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'detective,\xa0crime fiction,\xa0espionage' if 'James Bond' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'thriller,\xa0adventure,\xa0fiction' if 'Medical thriller\xa0Coma' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: "children's literature,\xa0fiction,\xa0theology,\xa0fantasy" if 'The Chronicles of Narnia, fantasy, popular theology' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: "children's literature,\xa0fiction,\xa0science fiction,\xa0fantasy" if 'Tarzan,\xa0Barsoom\xa0and\xa0Pellucidar\xa0series,\xa0science fantasy' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'whodunits,\xa0detective,\xa0crime fiction,\xa0fiction' if 'Nero Wolfe' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: "children's literature,\xa0fiction,\xa0illustrated children's books" if 'Peter Rabbit' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: "adventure,\xa0fiction,\xa0fantasy" if 'The Lord of the Rings,\xa0The Hobbit, classical fantasy' in x else x)
df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'thriller,\xa0adventure,\xa0fiction' if 'Thriller,\xa0Robert Langdon' in x else x)
# df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'literary fiction' if 'literary' in x else x)
# df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'literary fiction' if 'Literature' in x else x)
# df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'literary fiction' if 'Vampire' in x else x)
# df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'literary fiction' if 'Detective' in x else x)
# df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'literary fiction' if 'thriller' in x else x)
# df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'literary fiction' if 'adventure' in x else x)
# df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'literary fiction' if 'literature' in x else x)
# df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'literary fiction' if 'literary' in x else x)
# df.genre_or_major_works = df.genre_or_major_works.apply(lambda x: 'literary fiction' if 'Literature' in x else x)

df.head()

,author,min_estimated_sales,max_estimated_sales,original_language,genre_or_major_works,number_of_books,nationality,genere_original
0,William Shakespeare,2 billion,4 billion,English,Plays and poetry,42,English,Plays and poetry
1,Agatha Christie,2 billion,4 billion,English,"whodunits, detective, crime fiction, fiction",85,English,Whodunits including the Miss Marple and Hercul...
2,Barbara Cartland,500 million,1 billion,English,Romance,723,English,Romance
3,Danielle Steel,500 million,800 million,English,Romance,179,American,Romance
4,Harold Robbins,750 million,750 million,English,Adventure,23,American,Adventure

In [8]:

df["genre_or_major_works"].unique()

array(['Plays\xa0and\xa0poetry',
       'whodunits,\xa0detective,\xa0crime fiction,\xa0fiction', 'Romance',
       'Adventure',
       "Children's literature,\xa0Noddy,\xa0The Famous Five,\xa0The Secret Seven",
       'Suspense', 'fantasy,\xa0fiction', 'Adolescent adventures',
       "Children's literature", 'romance,\xa0adventure,\xa0fiction',
       'Goosebumps\xa0series,\xa0Fear Street\xa0series, horror, comedy',
       'Horror,\xa0thriller,\xa0science fiction,\xa0fantasy',
       "Horror,\xa0science fiction,\xa0fantasy,\xa0It,\xa0The Shining,\xa0The Stand,\xa0Pet Sematary,\xa0Salem's Lot,\xa0The Green Mile",
       'Saga,\xa0thriller,\xa0short stories,\xa0Kane and Abel,\xa0The Clifton Chronicles',
       'Western', 'Mystery,\xa0Perry Mason',
       'detective,\xa0crime fiction,\xa0espionage',
       'Thriller,\xa0Alex Cross', 'Berenstain Bears', 'Legal thriller',
       'adventure,\xa0fiction,\xa0fantasy',
       "children's literature,\xa0fiction,\xa0theology,\xa0fantasy",
       'thriller,\xa0adventure,\xa0fiction', 'fiction', 'Thriller',
       "children's literature,\xa0fiction,\xa0illustrated children's books",
       'Techno thriller', 'Adventure,\xa0Dirk Pitt',
       'Adventure, thriller,\xa0war stories',
       'Spy thriller,\xa0historical thriller', 'romance,\xa0fiction',
       'romance,\xa0fiction,\xa0vampires',
       "V. C. Andrews,\xa0The Devil's Advocate",
       'romance,\xa0fiction,\xa0gothic fiction,\xa0vampires',
       'African adventure', 'Literature', 'Romance, historical, suspense',
       "absurdist literature,\xa0children's literature,\xa0fiction",
       'Medical',
       "children's literature,\xa0fiction,\xa0science fiction,\xa0fantasy",
       'Crime thriller', 'Historical'], dtype=object)

In [9]:
df.groupby(df["genre_or_major_works"]).count()

,author,min_estimated_sales,max_estimated_sales,original_language,number_of_books,nationality,genere_original
genre_or_major_works,,,,,,,
Adolescent adventures,1,1,1,1,1,1,1
Adventure,1,1,1,1,1,1,1
"Adventure, thriller, war stories",1,1,1,1,1,1,1
"Adventure, Dirk Pitt",1,1,1,1,1,1,1
African adventure,1,1,1,1,1,1,1
Berenstain Bears,1,1,1,1,1,1,1
Children's literature,2,2,2,2,2,2,2
"Children's literature, Noddy, The Famous Five, The Secret Seven",1,1,1,1,1,1,1
Crime thriller,1,1,1,1,1,1,1
"Goosebumps series, Fear Street series, horror, comedy",1,1,1,1,1,1,1
Historical,1,1,1,1,1,1,1
"Horror, science fiction, fantasy, It, The Shining, The Stand, Pet Sematary, Salem's Lot, The Green Mile",1,1,1,1,1,1,1
"Horror, thriller, science fiction, fantasy",1,1,1,1,1,1,1
Legal thriller,1,1,1,1,1,1,1
Literature,1,1,1,1,1,1,1
Medical,1,1,1,1,1,1,1
"Mystery, Perry Mason",1,1,1,1,1,1,1
Plays and poetry,1,1,1,1,1,1,1
Romance,11,11,11,11,11,11,11
"Romance, historical, suspense",1,1,1,1,1,1,1
"Saga, thriller, short stories, Kane and Abel, The Clifton Chronicles",1,1,1,1,1,1,1
"Spy thriller, historical thriller",1,1,1,1,1,1,1
Suspense,2,2,2,2,2,2,2
Techno thriller,1,1,1,1,1,1,1
Thriller,4,4,4,4,4,4,4
"Thriller, Alex Cross",1,1,1,1,1,1,1
"V. C. Andrews, The Devil's Advocate",1,1,1,1,1,1,1
Western,2,2,2,2,2,2,2
"absurdist literature, children's literature, fiction",1,1,1,1,1,1,1
"adventure, fiction, fantasy",1,1,1,1,1,1,1
"children's literature, fiction, illustrated children's books",4,4,4,4,4,4,4
"children's literature, fiction, science fiction, fantasy",1,1,1,1,1,1,1
"children's literature, fiction, theology, fantasy",1,1,1,1,1,1,1
"detective, crime fiction, espionage",2,2,2,2,2,2,2
"fantasy, fiction",1,1,1,1,1,1,1
fiction,1,1,1,1,1,1,1
"romance, adventure, fiction",1,1,1,1,1,1,1
"romance, fiction",1,1,1,1,1,1,1
"romance, fiction, gothic fiction, vampires",1,1,1,1,1,1,1
"romance, fiction, vampires",1,1,1,1,1,1,1
"thriller, adventure, fiction",2,2,2,2,2,2,2
"whodunits, detective, crime fiction, fiction",6,6,6,6,6,6,6

In [10]:
df.head()

,author,min_estimated_sales,max_estimated_sales,original_language,genre_or_major_works,number_of_books,nationality,genere_original
0,William Shakespeare,2 billion,4 billion,English,Plays and poetry,42,English,Plays and poetry
1,Agatha Christie,2 billion,4 billion,English,"whodunits, detective, crime fiction, fiction",85,English,Whodunits including the Miss Marple and Hercul...
2,Barbara Cartland,500 million,1 billion,English,Romance,723,English,Romance
3,Danielle Steel,500 million,800 million,English,Romance,179,American,Romance
4,Harold Robbins,750 million,750 million,English,Adventure,23,American,Adventure

In [ ]:
df.to_Csv